.notification-area-block {
    width: 39px;
    height: 39px;
    background-color: #f9f5fc;
    border-radius: 8px;
    cursor: pointer;

    margin-right: 25px;
}

.notification-image {
    margin: 4px;
    padding: 4px 5px;
    width: 31px;
    height: 31px;
    opacity: 100%;

}